.ErrorWrapper {
  width: 200px;
  height: 200px;
  background-color: #464283;
  position: relative;
  margin: 0 auto;
  border-radius: 4px;
  button {
    position: absolute;
    height: 30px;
    width: 100px;
    top: 64%;
    left: 26%;
    background-color: #8076a5;
    border-radius: 16px;
  }
  h1 {
    color: #e7e1e1;
  }
}